<div class="row" >

    <h1>{{message}}</h1>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <div class="col-md-offset-10">
            <div class="row">
                    <button mat-button [matMenuTriggerFor]="menu"><i style="font-size:26px;" class="fa fa-cog"></i></button>
                    <mat-menu #menu="matMenu">
                            <button mat-menu-item>1080p</button>
                            <button mat-menu-item>720p</button>
                            <button mat-menu-item>480p</button>
                            <button mat-menu-item>360p</button>
                            <button mat-menu-item>240p</button>
                            <button (click)="viewModal()" mat-menu-item>144p</button>
                    </mat-menu>
            </div>
    </div>

</div>