<div class="row">
 
    <br/>
    <br/>
    <div class="col-md-4"></div>    
    <div class="col-md-4">    
        <div class="row">
            <h1>Login</h1>
        </div>
        <div class="row">
            <form #f="ngForm" (ngSubmit)="login(f)" novalidate>
                <div class="row"> 
                        <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input matInput name="username" ngModel #first="ngModel" />
                        </mat-form-field>
                </div>
                <div class="row">
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input type="password" matInput name="password" ngModel #first="ngModel" />
                        </mat-form-field>
                </div>
                <div class="row">
                    <button type="submit" mat-raised-button>Enter</button>
                </div>
                <div class="row" *ngIf="wrong">
                    <i style="color:red">{{'Your password is wrong!'}}</i>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-4"></div>    

</div>

<br/>
<br/>
<br/>

