<div class="container-fluid" style="overflow:hidden;">
    
    <div class="row">

        <h1>Edit Video</h1>

    </div>

    <div class="col-md-2"></div>
    <div class="col-md-6">

            <div class="row">
                    <form #f="ngForm" (ngSubmit)="edit(data._id,f)" novalidate>
                        <div class="row">
                                <mat-form-field style="width:400px !important" class="example-full-width">
                                        <mat-label>Title</mat-label>
                                        <input matInput name="title" ngModel #first="ngModel" placeholder="Title" />
                                </mat-form-field>                        
                        </div>
                        <div class="row">

                                <mat-form-field class="example-full-width">
                                        <mat-label>Description</mat-label>
                                        <textarea matInput name="description" ngModel #first="ngModel" placeholder="Ex. It makes me feel youtuber..."></textarea>
                                </mat-form-field>
                    

                        </div>
                        <div class="row">
                            <div class="col-md-offset-10">
                                <button type="submit" mat-raised-button>Save</button>
                            </div>
                        </div>
                        <br/>
                    </form>
            </div>
        </div>
    </div>
<div class="col-md-4"></div>
<br/>
<br/>